<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="!isAuthenticated()" class="nav-item">
          <button class="btn btn-success" type="button">
            <a class="nav-link active" aria-current="page" href="/login">Login</a>
          </button>
        </li>
        <li *ngIf="!isAuthenticated()" class="nav-item">
          <button class="btn btn-secondary" type="button">
            <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
          </button>
        </li>
        <li *ngIf="isAuthenticated() && !!loggedInUser?.storeId" class="nav-item">
          <button class="btn btn-sm btn-primary" type="button">
            <a class="nav-link active" aria-current="page" href="/store/{{loggedInUser.storeId}}">My Store</a>
          </button>
        </li>
        <li *ngIf="isAuthenticated() && isAdmin()" class="nav-item">
          <button class="btn btn-sm btn-secondary" type="button">
            <a class="nav-link active" aria-current="page" href="/all-stores">All Stores</a>
          </button>
        </li>
        <li *ngIf="isAuthenticated() && !isAdmin()" class="nav-item">
          <button class="btn btn-sm btn-primary" type="button">
            <a class="nav-link active" aria-current="page" href="/my-requests">My Requests</a>
          </button>
        </li>
        <li *ngIf="isAuthenticated() && isAdmin()" class="nav-item">
          <button class="btn btn-sm btn-secondary" type="button">
            <a class="nav-link active" aria-current="page" href="/all-requests">All Requests</a>
          </button>
        </li>
        <li *ngIf="isAuthenticated()" class="nav-item">
          <button class="btn btn-sm btn-outline-secondary" type="button">
            <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>