<div class="container">
    <div *ngIf="!!store">
        <mat-card class="store-card">
            <mat-card-header>
                <mat-card-title>{{store.name}} <small>({{store.phone}})</small></mat-card-title>
                <mat-card-subtitle>Location: {{store.location}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="outer-card-content">
                <mat-grid-list *ngIf="!!products.length" cols="2" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let product of products">
                        <mat-card class="product-card">
                            <mat-card-header>
                                <mat-card-title>{{product.name}} <small>({{product.availableQuantity}}
                                        available)</small>
                                </mat-card-title>
                                <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content class="inner-card-content">
                                <p>{{product.description}}</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button class="btn btn-secondary" (click)="openProductDialog('Edit', product)">
                                    Edit
                                </button>
                                <button class="btn btn-danger" (click)="openDeleteDialog(product)">
                                    Delete
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
                <p *ngIf="!products.length">No product available!</p>
            </mat-card-content>
            <mat-card-actions>
                <div>
                    <button class="btn btn-primary" (click)="openProductDialog('Create')">Create New Product</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div *ngIf="!store">
        <mat-card class="store-card">
            Store not available!
        </mat-card>
    </div>
</div>