<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <input type="email" matInput placeholder="Email Address" formControlName="email">
                </mat-form-field>
            </p>

            <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
                class="alert alert-danger">

                <div *ngIf="form.controls['email'].errors?.required">
                    Email is required.
                </div>
                <div *ngIf="form.controls['email'].errors?.invalidEmail">
                    Invalid Email.
                </div>
            </div>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>

            <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || form.controls['password'].touched)"
                class="alert alert-danger">

                <div *ngIf="form.controls['password'].errors?.required">
                    Password is required.
                </div>
            </div>

            <div class="button">
                <button class="btn btn-sm btn-secondary signup-button">
                    <a href="/signup" class="text-reset text-decoration-none">Sign Up</a>
                </button>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>