<div class="container">
    <mat-card *ngIf="!!loggedInUser" class="home-card">
        <mat-card-header>
            <mat-card-title>{{loggedInUser.name}} <span *ngIf="isAdmin()">(Admin)</span></mat-card-title>
            <mat-card-subtitle>{{loggedInUser.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><b>Your User Id:</b> {{loggedInUser.userId | number}}</p>
            <p><b>Joined on:</b> {{loggedInUser.createdOn | date}}</p>
            <mat-card class="store-card">
                <div *ngIf="!!store">
                    <mat-card-header>
                        <mat-card-title>{{store.name}}</mat-card-title>
                        <mat-card-subtitle>{{loggedInUser.name}} ({{loggedInUser.email}})</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p><b>Phone:</b> {{store.phone}}</p>
                        <p><b>Location:</b> {{store.location}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="btn btn-primary">
                            <a href="/store/{{store.storeId}}" class="text-reset text-decoration-none">Open</a>
                        </button>
                        <button *ngIf="isAdmin()" class="btn btn-secondary" (click)="openStoreDialog('Edit')">
                            Edit
                        </button>
                        <button *ngIf="isAdmin()" class="btn btn-danger" (click)="openDeleteDialog()">Delete</button>
                    </mat-card-actions>
                </div>
                <div *ngIf="!store">
                    <h1>You don't have any store.</h1>
                </div>
            </mat-card>
        </mat-card-content>
        <mat-card-actions>
            <div *ngIf="isAdmin()">
                <button class="btn btn-primary" (click)="openStoreDialog('Create')">+ Store</button>
                <button class="btn btn-secondary">
                    <a href="/all-stores" class="text-reset text-decoration-none">All Stores</a>
                </button>
                <button class="btn btn-secondary">
                    <a href="/all-requests" class="text-reset text-decoration-none">All Requests</a>
                </button>
                <button class="btn btn-secondary">
                    <a href="/all-users" class="text-reset text-decoration-none">All Users</a>
                </button>
            </div>
            <div *ngIf="!isAdmin()">
                <button class="btn btn-primary">
                    <a href="/my-requests" class="text-reset text-decoration-none">My Requests</a>
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>